In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('./kakao-sample2.xlsx')
df['Date'] = df['Unnamed: 4']
df = df.drop('Unnamed: 4', axis=1)
df

      Open   High    Low  Close                Date
0    56900  57200  56800  57200 2023-01-06 15:00:00
1    57400  57500  56600  56900 2023-01-06 14:00:00
2    57400  57600  57300  57300 2023-01-06 13:00:00
3    57500  57700  57300  57400 2023-01-06 12:00:00
4    57300  57600  56900  57500 2023-01-06 11:00:00
..     ...    ...    ...    ...                 ...
153  58100  58100  57800  57900 2022-12-09 12:00:00
154  57600  58200  57600  58000 2022-12-09 11:00:00
155  56900  57700  56800  57700 2022-12-09 10:00:00
156  56100  57700  56000  57000 2022-12-09 09:00:00
157  55500  55500  55500  55500 2022-12-09 08:00:00

[158 rows x 5 columns]

In [3]:
df['Date'].dtype

dtype('<M8[ns]')

In [4]:
# Reverse & Set 'Date' to index
df = df.iloc[::-1].reset_index().drop('index', axis=1)
df

      Open   High    Low  Close                Date
0    55500  55500  55500  55500 2022-12-09 08:00:00
1    56100  57700  56000  57000 2022-12-09 09:00:00
2    56900  57700  56800  57700 2022-12-09 10:00:00
3    57600  58200  57600  58000 2022-12-09 11:00:00
4    58100  58100  57800  57900 2022-12-09 12:00:00
..     ...    ...    ...    ...                 ...
153  57300  57600  56900  57500 2023-01-06 11:00:00
154  57500  57700  57300  57400 2023-01-06 12:00:00
155  57400  57600  57300  57300 2023-01-06 13:00:00
156  57400  57500  56600  56900 2023-01-06 14:00:00
157  56900  57200  56800  57200 2023-01-06 15:00:00

[158 rows x 5 columns]

In [5]:
df['Date'].dt.hour.unique()

array([ 8,  9, 10, 11, 12, 13, 14, 15])

In [6]:
date = df['Date'].dt.date.astype(str)
bins = [0, 12, 15, 24]
labels = ['_AM', '_PM', '_Closed']
am_pm = pd.cut(df['Date'].dt.hour, bins=bins, labels=labels, include_lowest=True)

df['DayIndex'] = date.str.cat(am_pm)
df.set_index('DayIndex')
df

KeyError: "None of [''] are in the columns"

In [11]:
group = df.groupby('DayIndex', as_index=False)
new_df = group['Open'].first()
new_df['High'] = group['High'].max()['High']
new_df['Low'] = group['Low'].min()['Low']
new_df['Close'] = group['Close'].last()['Close']
new_df.set_index('DayIndex')
new_df

KeyError: 'Cloase'