In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('./kakao-sample2.xlsx')
df['Date'] = df['Unnamed: 4']
df = df.drop('Unnamed: 4', axis=1)
df

      Open   High    Low  Close                Date
0    56900  57200  56800  57200 2023-01-06 15:00:00
1    57400  57500  56600  56900 2023-01-06 14:00:00
2    57400  57600  57300  57300 2023-01-06 13:00:00
3    57500  57700  57300  57400 2023-01-06 12:00:00
4    57300  57600  56900  57500 2023-01-06 11:00:00
..     ...    ...    ...    ...                 ...
153  58100  58100  57800  57900 2022-12-09 12:00:00
154  57600  58200  57600  58000 2022-12-09 11:00:00
155  56900  57700  56800  57700 2022-12-09 10:00:00
156  56100  57700  56000  57000 2022-12-09 09:00:00
157  55500  55500  55500  55500 2022-12-09 08:00:00

[158 rows x 5 columns]

In [3]:
df['Date'].dtype

dtype('<M8[ns]')

In [4]:
# Reverse & Set 'Date' to index
df = df.iloc[::-1].reset_index().drop('index', axis=1)
df

      Open   High    Low  Close                Date
0    55500  55500  55500  55500 2022-12-09 08:00:00
1    56100  57700  56000  57000 2022-12-09 09:00:00
2    56900  57700  56800  57700 2022-12-09 10:00:00
3    57600  58200  57600  58000 2022-12-09 11:00:00
4    58100  58100  57800  57900 2022-12-09 12:00:00
..     ...    ...    ...    ...                 ...
153  57300  57600  56900  57500 2023-01-06 11:00:00
154  57500  57700  57300  57400 2023-01-06 12:00:00
155  57400  57600  57300  57300 2023-01-06 13:00:00
156  57400  57500  56600  56900 2023-01-06 14:00:00
157  56900  57200  56800  57200 2023-01-06 15:00:00

[158 rows x 5 columns]

In [5]:
df['Date'].dt.hour.unique()

array([ 8,  9, 10, 11, 12, 13, 14, 15])

In [6]:
date = df['Date'].dt.date.astype(str)
bins = [0, 12, 15, 24]
labels = ['_AM', '_PM', '_Closed']
am_pm = pd.cut(df['Date'].dt.hour, bins=bins, labels=labels, include_lowest=True)

df['DayIndex'] = date.str.cat(am_pm)
df.set_index('DayIndex')
df

      Open   High    Low  Close                Date       DayIndex
0    55500  55500  55500  55500 2022-12-09 08:00:00  2022-12-09_AM
1    56100  57700  56000  57000 2022-12-09 09:00:00  2022-12-09_AM
2    56900  57700  56800  57700 2022-12-09 10:00:00  2022-12-09_AM
3    57600  58200  57600  58000 2022-12-09 11:00:00  2022-12-09_AM
4    58100  58100  57800  57900 2022-12-09 12:00:00  2022-12-09_AM
..     ...    ...    ...    ...                 ...            ...
153  57300  57600  56900  57500 2023-01-06 11:00:00  2023-01-06_AM
154  57500  57700  57300  57400 2023-01-06 12:00:00  2023-01-06_AM
155  57400  57600  57300  57300 2023-01-06 13:00:00  2023-01-06_PM
156  57400  57500  56600  56900 2023-01-06 14:00:00  2023-01-06_PM
157  56900  57200  56800  57200 2023-01-06 15:00:00  2023-01-06_PM

[158 rows x 6 columns]

In [7]:
group = df.groupby('DayIndex', as_index=False)
new_df = group['Open'].first()
new_df['High'] = group['High'].max()['High']
new_df['Low'] = group['Low'].min()['Low']
new_df['Close'] = group['Close'].last()['Close']
new_df.set_index('DayIndex')
new_df

         DayIndex   Open   High    Low  Close
0   2022-12-09_AM  55500  58200  55500  57900
1   2022-12-09_PM  57900  58100  57500  58100
2   2022-12-12_AM  58100  58700  57200  58200
3   2022-12-12_PM  58100  58400  58100  58100
4   2022-12-13_AM  58100  59600  57800  58200
5   2022-12-13_PM  58200  58400  57700  58100
6   2022-12-14_AM  58200  59500  58200  58400
7   2022-12-14_PM  58500  58700  58300  58600
8   2022-12-15_AM  58700  58700  55300  55600
9   2022-12-15_PM  55600  55800  55300  55300
10  2022-12-16_AM  55300  55300  53100  54400
11  2022-12-16_PM  54500  54600  54100  54300
12  2022-12-19_AM  54400  56300  53900  55400
13  2022-12-19_PM  55500  55900  55500  55700
14  2022-12-20_AM  55800  55800  54500  54700
15  2022-12-20_PM  54700  54700  53900  54300
16  2022-12-21_AM  54300  55200  53700  54400
17  2022-12-21_PM  54500  54500  54000  54200
18  2022-12-22_AM  55000  55700  54100  55000
19  2022-12-22_PM  55000  55200  54900  55100
20  2022-12-23_AM  55100  55100  53100  53500
21  2022-12-23_PM  53500  53800  53400  53400
22  2022-12-26_AM  53400  53800  52800  53600
23  2022-12-26_PM  53500  53700  53400  53500
24  2022-12-27_AM  53600  54700  53600  53700
25  2022-12-27_PM  53800  54400  53600  54300
26  2022-12-28_AM  54400  54700  53000  54000
27  2022-12-28_PM  53900  54100  53500  53600
28  2022-12-29_AM  53600  55300  52900  53100
29  2022-12-29_PM  53100  53500  53100  53100
30  2023-01-02_AM  53100  53800  52400  52500
31  2023-01-02_PM  52400  53000  52400  52800
32  2023-01-03_AM  52700  53000  51400  53000
33  2023-01-03_PM  53000  53500  52700  53300
34  2023-01-04_AM  53300  55300  53100  55000
35  2023-01-04_PM  55000  56000  55000  55700
36  2023-01-05_AM  55700  57900  55700  57600
37  2023-01-05_PM  57600  58200  57400  57700
38  2023-01-06_AM  57700  58000  56700  57400
39  2023-01-06_PM  57400  57600  56600  57200

In [8]:
new_df.to_excel('kakao-stock-processed2.xlsx')